.env
poetry.lock
dist/*
subsonic_connector/__pycache__/
tests/__pycache__/**

.vscode/settings.json
pypi-password.txt

*.flac
*.mp3
*.dsf
*.wav
*.opus
*.ogg
*.m4a

.DS_Store

*.env
subsonic_connector/vendor/libsonic/__pycache__/__init__.cpython-39.pyc
subsonic_connector/vendor/libsonic/__pycache__/connection.cpython-39.pyc
subsonic_connector/vendor/libsonic/__pycache__/errors.cpython-39.pyc
